/* 在线icon引入 */
@font-face {
    font-family: 'iconfont';  /* project id 764109 */
    src: url('//at.alicdn.com/t/font_764109_34f5wu7g17a.eot');
    src: url('//at.alicdn.com/t/font_764109_34f5wu7g17a.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_764109_34f5wu7g17a.woff') format('woff'),
    url('//at.alicdn.com/t/font_764109_34f5wu7g17a.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_764109_34f5wu7g17a.svg#iconfont') format('svg');
}
.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
} 

/* 搜索栏icon设置 */
.list-shop-search .logo>i{font-size: 0.4rem;color: #fff;text-align: center;line-height: 1;}
.list-shop-search .search-logo{font-size: 0.4rem;color: #fff;position: absolute;left: 1.55rem;}

/* 店铺列表区域 */
.goods{width: 7.5rem;overflow: hidden;position: absolute;bottom: 0.8rem;top: 2.4rem;left: 0;display: flex;}

/* 左侧菜单 */
.goods .menu-list{width: 1.6rem;font-size:0.24rem;background-color: #f5f8ff;overflow: scroll;}
.goods .menu-list .m-item-title{height: 1.5rem;display: table;width: 100%;text-align: center;}
.goods .menu-list .m-item-title>a{display: table-cell;width: 1rem;color: #000;padding: 0.21rem;vertical-align: middle}
.goods .menu-list .m-item-select>a{color: #c60819}

/* 右侧商品列表 */
.goods .foot-list{padding: 0 0.2rem;width: 5.5rem;background-color: #fff;overflow: scroll;}
.goods .foot-list .foot-list-title{height: 1rem;display: block;line-height: 1rem;font-size: 0.2rem;color: #999999}
.goods .foot-list .foot-list-content .foot-item{width: 100%;margin-bottom: 0.5rem;display: flex;}
.goods .foot-list .foot-list-content .foot-item .foot-item-photo{border: 0;display: flex;}
.goods .foot-list .foot-list-content .foot-item .foot-item-photo img{width: 1.7rem;height: 1.7rem;}
.goods .foot-list .foot-list-content .foot-item .content{padding-left: 0.2rem;position: relative;width: 100%}
.goods .foot-list .foot-list-content .foot-item .content ul{padding-top:bottom;overflow: scroll}
.goods .foot-list .foot-list-content .foot-item .content .f-item-title{font-size: 0.24rem;color: #000;padding: 0.03rem 0;}
.goods .foot-list .foot-list-content .foot-item .content .f-item-sales{font-size: 0.16rem;line-height: 1;color: #999;}
.goods .foot-list .foot-list-content .foot-item .content .f-item-label{overflow: hidden;}
.goods .foot-list .foot-list-content .foot-item .content .f-item-label span{display:inline-block;line-height:0.26rem;border: 1px solid;border-radius: 0.15rem;font-size: 0.16rem;text-align: center;width: 0.9rem;}
.goods .foot-list .foot-list-content .foot-item .content .f-item-label .red{color: #e30920}
.goods .foot-list .foot-list-content .foot-item .content .f-item-label .green{color: #90c231}
.goods .foot-list .foot-list-content .foot-item .content .f-item-label .orange{color: #ea6948}
.goods .foot-list .foot-list-content .foot-item .content .f-item-price{padding-top: 0.2rem;position: relative;}
.goods .foot-list .foot-list-content .foot-item .content .f-item-price .market-price{position: absolute;font-size: 0.14rem;color: #999;text-decoration: line-through;left: 0.5rem;bottom: 0.25rem;}
.goods .foot-list .foot-list-content .foot-item .content .f-item-price .sell-pirce{color: #000;font-size: 0.24rem;}
.goods .foot-list .foot-list-content .foot-item .content .f-item-price i{font-size: 0.42rem;color: #d72d23;position: absolute;right: 0rem;}

/* 底部结算 */
.footer{height: 0.8rem;width: 7.5rem;border-top: 1px solid #f2f2f2;overflow: hidden;position: fixed;bottom: 0;background-color: #fff;}
.footer .shop_cart{float: left;margin-left: 0.5rem;position: relative;overflow: hidden;}
.footer .shop_cart img{width: 0.62rem;height: 0.62rem;padding-top: 0.1rem;float: left;}
.footer .shop_cart i{font-size: 0.65rem;float: left;color: #d62d23}
.footer .shop_cart .goodsNum{position: absolute;bottom: 0.14rem;left: 0.35rem;font-size: 16px;color: #d62d23;float: left;width: 0.25rem;height: 0.25rem;background-color: #fff;text-align: center;border-radius: 0.25rem;line-height: 0.25rem;border: 0;}
.footer .shop_cart .total_price{font-size: 0.24rem;color: #999;display: inline-block;padding-left: 0.17rem;line-height: 0.8rem}
.footer .submit_btn{float: right;width: 1.48rem;line-height: 0.48rem;border: 1px solid;border-radius: 0.2rem;color: #d62d23;margin-right: 0.29rem;margin-top: 0.16rem;font-size: 0.24rem;text-align: center;}
.footer .none{color: #999}
.none{color: #999}