body{background-color: #fff;}
.blce-btn,.blce-foot,.blce-img{width: 7.5rem;text-align: center;font-size: .28rem;}
.blce-img{padding-top: 2rem;margin-top: 2rem; background:url(../img/u5597.png) no-repeat center top;background-size: 1.6rem ;}
.blce-btn>a{width: 6.9rem;height: 1rem;display: inline-block;background-color: #D92B17;color: #fff;line-height: 1rem;border-radius: .2rem;margin: .2rem 0;}
.blce-btn>p{text-align: left;margin-left: .3rem;font-size: .24rem;line-height: .3rem;}
.blce-foot{margin-top: 1.5rem;font-size: .24rem;}
