/*样式重置*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,input,button,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {color: #ccc;}
input:-moz-placeholder, textarea:-moz-placeholder {color:#ccc;}
input::-moz-placeholder, textarea::-moz-placeholder {color:#ccc;}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {color:#ccc;}
input,button{outline: none;}
/* CSS Document */
.hidden,.disapear,.hide {display:none;}
.r,.fr,.right {float:right;}
.l,.fl,.left {float:left;}
.clearfix:after, .clearfix:before{display:table;content:"";overflow:hidden;clear:both}
.clearfix {zoom:1;clear:both;}
.block {display:block;overflow:hidden;}
/*元素浮动*/
.fl{display: inline-block;float: left;}
.fr{display: inline-block;float: right;}
/*更改checkboxya样式*/
input[type='checkbox']{width: .32rem;height: .32rem;background-color: #fff;-webkit-appearance:none;border: 1px solid #c9c9c9;border-radius: 50%;outline: none;}
input[type=checkbox]:checked{background: url("../img/u1657.png") no-repeat center;background-size: .32rem;border-color: #f00;}
input[type='radio']{width: .32rem;height: .32rem;background-color: #fff;-webkit-appearance:none;border: 1px solid #c9c9c9;border-radius: 50%;outline: none;margin-top: .35rem;margin-right: .18rem;}
input[type='radio']:checked{background: url("../img/u1657.png") no-repeat center;background-size: .32rem;border-color: #f00;}
.input{width: .32rem;height: .32rem;background-color: #fff;-webkit-appearance:none;border: 1px solid #c9c9c9;border-radius: 50%;outline: none;}
.input.checked{background: url("../img/u1657.png") no-repeat center;background-size: .32rem;border-color: #f00;}

html,body{width: 100%;height: 100%;background: #f2f2f2;}
h1,h2,h3,h4,h5,h6,em,i {font-weight: 100;font-style: normal;}
ul,ol,li {list-style-type: none;}
a {color: #666;text-decoration: none;outline: 0;}
a:hover {text-decoration: none;}
/*背景颜色样式*/
.bg-blue{background-color: #0093ff;}
.bg-green{background-color: #3eb547;}
.bg-pink{background-color: #ff0045;}
.bg-black{background-color: #000;}
.bg-hgreen{background-color: #669933;}
.bg-purple{background-color: #59207c;}
/*颜色样式*/
.green{color: #2cac38 !important;}
.red{color: #D92B17 !important;}
/*￥样式*/
.yuan{font-size: .24rem; color: #FF0045; line-height: .52rem;}
/*价格数字样式*/
.p-num{font-size: .32rem; color: #FF0045;}
.p-linum{font-size: .24rem; color: #FF0045;line-height: .52rem;}
.p-yuanjia{font-size: .2rem;color: #CCC;text-decoration:line-through;}
/*红字*/
.red-txt{color: #f00 !important;}
.lred-txt{color: #f00;font-size: .24rem !important;}
.fred-txt{color: #D92B17;font-size: .28rem !important;}
/*小灰字*/
.gray-txt{color: #999;font-size: .24rem !important;}
.bgray-txt{color: #999;font-size: .28rem !important;}
/*黑字*/
.black-txt{color: #000;font-size: .28rem !important;}
.black2-txt{color: #333 !important;}
/*占位样式*/
.zhanwei{width: 100%;clear: both;}
/*图标样式*/
@font-face {
  font-family: 'iconfont';  /* project id 764109 */
  src: url('//at.alicdn.com/t/font_764109_34f5wu7g17a.eot');
  src: url('//at.alicdn.com/t/font_764109_34f5wu7g17a.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_764109_34f5wu7g17a.woff') format('woff'),
  url('//at.alicdn.com/t/font_764109_34f5wu7g17a.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_764109_34f5wu7g17a.svg#iconfont') format('svg');
}
i.iconfont{ font-family:"iconfont" !important; font-size:0.16rem;font-style:normal; -webkit-font-smoothing: antialiased; -webkit-text-stroke-width: 0.2px; -moz-osx-font-smoothing: grayscale;}
.goleft{font-size: .45rem !important;position: absolute;}
.goright{font-size: .26rem !important;color: #333333;}
/*头部搜索框*/
.header{width: 100%;height: .46rem;background-color: transparent;position: absolute;top: .16rem;z-index: 999;}
.header .header-logo{width: .46rem;height: .46rem;border-radius: 50%;position: relative;margin-left: .2rem;}
.header .header-logo img{width: 100%;position: absolute;top:0;}
.header .header-search{width: 5.14rem;height: .46rem;position: relative;margin-left: .18rem;}
.header .header-search img{width: .3rem;position: absolute;top:.08rem;left: .2rem;z-index: 1;}
.header .header-search input{width: 100%;height: 100%;background-color:rgba(255,255,255,0.9);display: inline-block;border: 0;border-radius: .23rem;font-size: .24rem; padding-left: .6rem;position: absolute;}
.header .header-msg{width: .46rem;height: .46rem;border-radius: 50%;position: relative;margin-right: .21rem;}
.header .header-msg i{position: absolute;top: 0;color: #fff;font-size: .46rem;}
/*头部*/
header{width: 100%;height: .78rem;background-color: #d9322e;position: fixed;top: 0;z-index: 40;}
header .s-header{width: 100%;height: .78rem;position: relative;z-index: 40;}
header>.s-header>a>i.iconfont{width: .5rem; display: inline-block;color: #fff;height: .78rem;line-height: .78rem;}/*改动添加部分*/
/*header .s-header a{width: .5rem; display: inline-block;position: absolute;left: 0;top:0;color: #fff;height: .78rem;font-size: .7rem;line-height: .78rem;}
header .s-header a .goleft{font-size: .45rem;position: absolute;}*//*被删除部分*/
header .s-header p{width: 100%;height: .78rem;font-size: .28rem;color: #fff; text-align: center;line-height: .78rem;}
/*header .s-header .mnag-btn{height: .78rem;line-height: .78rem; font-size: .26rem;color: #fff;position: absolute;right: .2rem;top: 0;    left: auto;width: .8rem;}*/ /*原来的样式，改为下一条*/
header .s-header .mnag-btn{ height: .78rem;line-height: .78rem; font-size: .26rem;color: #fff;position: absolute;right: .2rem;top: 0;    left: auto;width: 1.4rem;text-align: right;}/*进行了修改*/
header .s-unheader{width: 100%;height: .96rem;position: relative;border:2px solid #fff;border-left: 0;border-right: 0;background:#fff;z-index: 30;}
header .s-unheader a{height: .6rem;line-height: .6rem;border: 2px solid transparent;}
header .s-unheader .clear-btn{ font-size: .28rem;color: #333;margin: .22rem .25rem 0.05rem;padding-left: .75rem;background: url(../img/u1027.png) no-repeat left center;background-size: .6rem;}
header .s-unheader .del-btn{ font-size: .26rem;color: #D92B17;margin: .22rem .25rem 0.05rem;padding: 0 .41rem;border-color: #d92b17; border-radius: .2rem;}

/*店铺优惠*/
.shop-youhui{width: 1.2rem;height: .34rem;border: 2px solid #ff002e;border-radius: 0.1rem;font-size: .2rem;text-align: center;line-height: .33rem;}
.youhuineirong{height: .38rem;font-size: .26rem;color: #333333;line-height: .4rem;margin-left: .2rem;}

/*主要弹出层*/
.common-box{width: 7.1rem;min-height:8.8rem;margin: 0 .2rem;background-color: #fff;border-radius:.32rem .32rem 0 0;position: fixed;bottom:0;overflow: hidden;z-index: 40;}
.common-box .recharge-back{display: inline-block;position: absolute;top:.2rem;left: 0; width:.58rem;height: .5rem;padding-left: .8rem;font-size: .24rem;line-height: .55rem;background: url(../img/u1812.png) no-repeat left center;background-size: .6rem;}
.common-box .box-tit{height: .6rem;padding: .2rem .6rem .25rem;color: #E14D3D;font-size: .28rem;text-align: left;font-family: 'ArialMT', 'Arial';}
.common-box .box-tit .box-tit-e,.common-box .box-tit2 .box-tit-e{color: #333;font-size: .26rem;} 
.common-box .box-tit2{height: .6rem;padding: .2rem .6rem .25rem;color: #E14D3D;font-size: .28rem;text-align: center;font-family: 'ArialMT', 'Arial';position: relative;}
/*tips*/
.common-box .box-tips{height: 1.02rem;padding: .18rem .6rem;font-family: 'PingFangSC-Regular', 'PingFang SC';font-size: .24rem;color: #999;background-color: #efefef;}
.common-box .box-tips .box-tips-tit{font-size: .28rem;color: #333;}
/*关闭窗口页面*/
.common-box .close-box{position: absolute;width: 1.4rem;height: .65rem;overflow: hidden;right: 0.3rem;top:-0.01rem;z-index: 30;}
.common-box .close-box a{width: .5rem;height: .65rem;float: right;display: inline-block;margin-right: .2rem;}
.common-box .close-box a img{width: .5rem;float: left;}
/*蒙版*/
.mask{position: fixed;left: 0; top: 0;width: 100%;height: 100%;overflow: hidden;background-color: #000000e5;z-index: 30;}
/*选择规格页面*/
.common-box .mask-tit{padding: .25rem .4rem .2rem;border-bottom: 0.06rem solid #efefef;}
.common-box .mask-cont{font-size: .28rem;padding: .1rem .4rem ;height: 8rem;overflow-y: auto;overflow-x: hidden;}
.common-box .mask-cont .mask-ul{margin-bottom: .25rem;}
.common-box .mask-cont .mask-ul ul{display: -webkit-box; display: -moz-box;display: -ms-flexbox; display: -webkit-flex;display: flex;width: 100%;}
.common-box .mask-cont .mask-ul ul li{height: 1rem;border: 1px solid #D92B17;border-radius: .2rem;margin: .1rem;line-height: 1rem; -webkit-box-flex: 1;-moz-box-flex: 1; -webkit-flex: 1; -ms-flex: 1 ;flex: 1;  font-size: .28rem;text-align: center;color: #f00;}
.common-box .mask-cont .mask-ul ul li.on{color: #fff;background-color: #D92B17;}
.common-box .mask-cont .mask-div{height: .98rem;border-bottom: 0.02rem solid #efefef;overflow: hidden;line-height: .98rem;font-size: .24rem;}
.common-box .mask-foot{width: 6.7rem;font-size: .28rem;padding: .3rem .2rem;}   
.common-box .mask-foot button{width: 100%;height: .86rem; border-radius: .2rem;background: #ccc;color: #fff;}
 
.computer {width: 1.36rem;height: .38rem;margin-top: .2rem ; position: relative;display: inline-block;overflow: hidden;border: 0.02rem solid #cecece;border-radius: 0.06rem;}
.computer span {font-size: .26rem;display: inline-block; float: left;color: #ccc;width: .38rem;height: .38rem;line-height: .38rem;text-align: center;}
.computer .num {width: .55rem;border-left: 0.02rem solid #ccc;border-right: 0.02rem solid #ccc;}

/*精选商品*/
.content-box {width: 100%;/*height: 8.78rem;*/overflow: hidden; margin-top: .1rem;margin-bottom: 1.3rem; background-color: #fff;}
.content-box .box_name { font-size: .32rem;color: #FF0045;text-align: left;  letter-spacing: 0.004rem; margin: .31rem .2rem .29rem; }
.content-box .shop{margin:0 0.1rem;overflow: hidden;}
.content-box .shop>li{display: inline-block;float: left;}
.content-box .shop .i-box{width: 3.45rem; min-height: 5.1rem;background-color: #f8f8f8;position: relative;display: inline-block;margin: 0 0.1rem 0.2rem;}
.content-box .shop .i-box a{display: inline-block;}
.content-box .shop .i-box a img{width: 100%;}
.content-box .shop .i-box .txt1{margin-left: .13rem; font-size: .24rem; color: #333;text-align: left;width: 3.3rem;height: .72rem;line-height: .36rem; text-overflow:ellipsis; overflow:hidden;word-break: break-all;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;}
.content-box .shop .i-box .txt2{margin-left: .13rem;font-size: .2rem; color: #999;text-align: left;width: 3.3rem;text-overflow:ellipsis; overflow:hidden;;white-space:nowrap;}
.content-box .shop .i-box .txt3{margin-left: .13rem;font-size: .36rem; color: #333;text-align: left;width: 3.3rem;text-overflow:ellipsis; overflow:hidden;;white-space:nowrap;}
.content-box .shop .i-box .ct-btn{display: inline-block;font-size:.58rem;position: absolute;bottom: .1rem;right: .13rem; }
.content-box .shop .i-box .ct-btn i{font-size:.58rem;background-color: #fff;color: #d92b17;border-radius: 50%;}
/*底部导航*/
footer { position: fixed; bottom: 0; left: 0; width: 7.5rem;height: .84rem; display: -webkit-box; display: -webkit-flex; display: -moz-box; display: -ms-flexbox; display: flex; padding: 0.16rem 0 0 0;z-index: 10; -webkit-justify-content: space-around; -ms-flex-pack: distribute; justify-content: space-around; -webkit-box-align: baseline; -webkit-align-items: baseline; -moz-box-align: baseline; -ms-flex-align: baseline; align-items: baseline; background-color: #fcfcfc; }
footer a { display: inline-block; text-align: center; font-size: 0.22rem; letter-spacing: 0.003rem; color: #999999; position: relative;}
footer a .iconfont{font-size: .44rem; color: #999}
footer .special .active{color: #d92b17;}
footer a p { line-height: .4rem; }
footer a .pic3 { display: inline-block; width: .4rem; height: .4rem; position: relative; }
footer a .pic3 .iconfont { position: absolute; top: -0.4rem; left: -0.26rem; font-size: .9rem; }
footer a .text { color: #f44336; }
footer a.chart span{position: absolute;top:-.15rem;right: -0.15rem;width: .36rem;height: .36rem;background-color: red;border-radius: .18rem;color: #fff;display: inline-block;font-size: .2rem;line-height: .36rem; text-align: center;}

.payment{width:7.02rem;position: fixed; bottom: 0;padding:0.1rem 0.24rem;background: #fff;border-top: .02rem solid #efefef;font-family: 'ArialMT', 'Arial';z-index: 40;}
.payment .payment-title{width: 100%;height: .62rem; overflow: hidden;font-size: .28rem;line-height: .62rem; text-align: left;color: #333;}
.payment .payment-title a{margin: 0 0.15rem;height: .62rem;width: .6rem;}
.payment .payment-title a .iconfont{width: .6rem; height: .32rem;text-align: center; font-size: .32rem;color: #999;float: left;margin-top: -0.12rem;}
.payment .payment-title a span{font-size:.2rem ;margin: 0;text-align: center;width: .6rem;}
.payment .payment-title .button{width: 1.8rem; height: .58rem;font-size: .26rem; border-radius: .22rem; background-color:#ff0045 ;color: #fff;text-align: center;}
.payment .payment-title span{margin-right: 0.2rem;}
.payment .payment-title .big-red{color: #D9322E; font-size: .4rem;margin-right: 0;}
.payment .payment-title .btn-l,.payment .payment-title .btn-r{width: 2.1rem; height: .58rem;font-size: .24rem;border: 1px solid #d92b17;margin: 0;text-align: center;}
.payment .payment-title .btn-l{border-radius: 0.36rem 0 0 0.36rem;background-color: #fff;color: #d92b17;}
.payment .payment-title .btn-r{border-radius: 0 0.36rem 0.36rem 0;background-color: #d92b17;color: #fff;}