body{background: #f2f2f2;}
/*首页轮播图*/
.banner{width: 100%;height: 3.14rem;background: #999; position: relative;}
.banner .banner-img li img{width: 100%;}
.banner .banner-con{width: 2.1rem;height: 0.05rem;position: absolute;bottom: .2rem; padding: 0 2.7rem;overflow: hidden;display: -webkit-box; display: -moz-box;display: -ms-flexbox; display: -webkit-flex;display: flex;}
.banner .banner-con li{width: .8rem; height: 0.05rem;margin: 0 0.1rem;border-radius: 0.03rem; background: #fff;z-index: 2;-webkit-box-flex: 1;-moz-box-flex: 1; -webkit-flex: 1; -ms-flex: 1 ;flex: 1;  font-size: .2rem;text-align: center;color: #333;text-indent: -9999px;}
.banner .banner-con li.on{background: red;}
/*导航栏样式*/
.nav{width: 100%;height: 3.16rem;margin-top: .1rem;background: #fff;}
.nav ul{padding: 0 0.35rem;}
.nav ul li{width: 1.7rem;height: 1.4rem; display: inline-block;text-align: center;float: left;}
.nav ul li a { display: inline-block; width: 100%;height: 100%; text-align: center; position: relative;}
.nav ul li span{display: inline-block;width: 0.76rem; height: 0.76rem;margin-top: -0.1rem; border-radius: .38rem;position: relative;}
.nav ul li span img{display: inline-block;width: .54rem; height: .54rem; margin: .11rem;position: absolute;top: 0;left: 0;}
.nav ul li p { font-size: 0.24rem; font-weight: normal; font-stretch: normal;  letter-spacing: 0.003rem; color: #333;margin-top: -0.2rem;}
.nav ul li span i.icons{position: absolute;top: 0.08rem;left: .1rem; color: #fff;font-size: .54rem;}

/*促销商品样式*/
.center_box {width: 7.5rem;height: 5.46rem;overflow: hidden; margin-top: .1rem;background-color: #ffffff;}
.center_box>div{float: left;}
.center_box .one{padding: 0.2rem 0.14rem 0.17rem 0.2rem;width: 3.38rem; height: 3.24rem;border-bottom: solid 0.02rem #f0f0f0; border-right: solid 0.02rem #f0f0f0; overflow: hidden; }
.center_box .one .one-top{width: 3.38rem; display: block;overflow: hidden;}
.center_box .one .one-top .one-top-l{width: 1.33rem;}
.center_box .one .one-top .one-top-l span{display: block;}
.center_box .one .one-top .one-top-l .one-top-tit{ font-family: 'PingFangSC-Regular', 'PingFang SC';font-size: .32rem;color: #FF0045;}
.center_box .one .one-top .one-top-l .one-top-el{font-family: 'ArialMT', 'Arial';font-size:.2rem;color: #999999;}
.center_box .one .one-top .one-top-l .one-top-end{font-family: 'PingFangSC-Regular', 'PingFang SC';font-size: .28rem;color: #333;}
.center_box .one .one-top .time{font-size: .26rem;margin-top: 0.26rem;width: 2.05rem;}
.center_box .time .hour, .center_box .time .minute, .center_box .time .second {display:inline-block ; width: 0.5rem; height: 0.74rem; background-color: #666; text-align: center;line-height: .74rem;border-radius: .27rem;}
.center_box .one .one-bottom{width: 100%;margin-top:0.25rem;}
.center_box .one .one-bottom img{width: 100%;}
.center_box .one .one-bottom p{font-size:.24rem ;font-family: 'ArialMT', 'Arial';text-align: center;margin-top: -.1rem;}
.center_box .two .big-icons {font-size: 0.7rem;top: 0.25rem;color: #f8b215;}
.center_box .two,.center_box .three,.center_box .four,.center_box .five{width: 3.35rem;height: 1.24rem; padding: .3rem .2rem .26rem;}
.center_box .left{float: left;display: inline-block;max-width: 2.3rem;}
.center_box .right{width: 1rem;height: 1.24rem; float: right;display: inline-block;position: relative;}
.center_box .title { display: block; font-size: 0.32rem; line-height: 1.5; letter-spacing: 0.004rem; color: #333333; }
.center_box .desc {display: block; font-size: 0.24rem; line-height: 1.5; letter-spacing: 0.003rem; color: #999999; text-overflow: ellipsis;overflow: hidden;word-break: break-all;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;}
.center_box .big-icons { position: absolute;top: 0;right: 0;color: #f00;font-size: .9rem;}
.center_box .two {  border-bottom: solid 0.02rem #f0f0f0; }
.center_box .three {   border-bottom: solid 0.02rem #f0f0f0; }
.center_box .four { width: 3.32rem; }
.center_box .five {  border-left: solid 0.02rem #f0f0f0; }
/*推荐商品*/
.recommend {width: 100%;min-height: 8.78rem;overflow: hidden; margin-top: .1rem;background-color: #fff;}
.recommend .box_name { font-size: .32rem;color: #FF0045;text-align: left;  letter-spacing: 0.004rem; margin: .31rem .2rem .29rem; }
.recommend .shop{margin:0 0.1rem;overflow: hidden;}
.recommend .shop .item{width: 3.45rem;min-height: 4rem;margin: 0.1rem; background-color: #f8f8f8;}
.recommend .title { display: block; font-size: 0.32rem; line-height: 1.5; letter-spacing: 0.004rem; color: #333333; margin-top: .3rem;margin-left: .2rem;}
.recommend .desc { display: block; font-size: 0.24rem; line-height: 1.5; letter-spacing: 0.003rem; color: #999999; margin-left: .2rem;}
.recommend .shop .item .item-con .item-con-two{overflow: hidden;}
.recommend .shop .item .item-con .item-con-two li{float: left; margin: 0 0.16rem;max-width: 1.4rem;}
.recommend .shop .item .item-con .item-con-two img{width: 1.4rem;}
.recommend .shop .item .item-con .item-con-one{padding: 0 0.1rem;}
.recommend .shop .item .item-con .item-con-one img{width: 3.25rem;}
.recommend .shop .item .item-con .l-title{font-size: .24rem; color: #FF0045;text-align: center;}
.recommend .shop .item .item-con .l-desc{font-size: .28rem; color: #333;text-align: center;}


