/*商品详情页*/
/*头部*/
.product-head{width: 7.5rem;height: 7.5rem; position: relative;overflow: hidden;}
.product-head>.banner {width: 7.5rem;height: 7.5rem; background: #999; position: relative;}
.product-head>.banner .banner-img li img{width: 7.5rem;height: 7.5rem;}
.product-head>.banner .banner-con{width: 2.1rem;height: 0.05rem;position: absolute;bottom: .3rem; padding: 0 2.7rem;overflow: hidden;display: -webkit-box; display: -moz-box;display: -ms-flexbox; display: -webkit-flex;display: flex;}
.product-head>.banner .banner-con li{width: .8rem; height: 0.05rem;margin: 0 0.1rem;border-radius: 0.03rem; background: #fff;z-index: 2;-webkit-box-flex: 1;-moz-box-flex: 1; -webkit-flex: 1; -ms-flex: 1 ;flex: 1;  font-size: .2rem;text-align: center;color: #333;text-indent: -9999px;}
.product-head>.banner .banner-con li.on{background: red;}

.product-des img{width: 7.5rem;float: left;}
.product-head>.close-product{width: 7.5rem;height: .5rem;position: fixed;top: .1rem;right: 0;overflow: hidden;}
.product-head>.close-product>a{height: .5rem;margin: 0 0.2rem;}
.product-head>.close-product>a>i.iconfont{width: .5rem;height: .5rem;font-size: .4rem;background-color: #999;color: #000; border-radius: 50%;display: inline-block;line-height: .5rem;text-align: center;float: left;}


/*商品描述*/
.product-details{width: 7.1rem;padding: .3rem .2rem;background: #fff;margin-bottom: .2rem;}
.product-details .product-code{overflow: hidden;font-size: .24rem;margin-bottom: .2rem;}
.product-details .product-code .product-code-l{max-width: 5rem;}
.product-details .product-code .product-code-l .product-code-l-price{font-size: .26rem;color: #D92B17;margin-bottom: .35rem;}
.product-details .product-code .product-code-l .product-code-l-price .label-btn{padding: .05rem .15rem;border: 1px solid #D92B17;border-radius: .12rem;margin-left: .2rem;}
.product-details .product-code .product-code-l .product-code-l-ff .chaoshi{width: .32rem;height: .32rem;background-color:#c73b3b;border-radius: .16rem;display: inline-block;}
.product-details .product-code .product-code-l .product-code-l-ff .iconfont{font-size: .26rem;color:#fff;}
.product-details .product-code .product-code-r{max-width: 2.8rem;margin-top: .2rem;}
.product-details .product-code .product-code-r img{width: 2.4rem;}
.product-details .product-txt{width: 100%;font-size: .32rem;color: #333;margin-bottom: .3rem;}
.product-details .product-ul{width: 100%;overflow: hidden;}
.product-details .product-ul ul{display: -webkit-box; display: -moz-box;display: -ms-flexbox; display: -webkit-flex;display: flex;}
.product-details .product-ul ul li{-webkit-box-flex: 1;-moz-box-flex: 1; -webkit-flex: 1; -ms-flex: 1 ;flex: 1;  font-size: .28rem;text-align: center;color: #333;}

.product-foot{overflow: hidden;margin: .2rem 0;padding: .2rem ;background: #fff;}
.product-des{margin-bottom: 1rem;overflow: hidden;}
