.refund{width: 7.5rem;background-color: #fff;margin-bottom: .2rem;color: #333;}
.refund>.box{padding: 0.3rem 0.2rem;width: 7.1rem;border-bottom: 0.02rem solid #efefef;overflow: hidden;font-size: .28rem;}
.refund>.box>i.iconfont{float: left;font-size: .8rem;color: #d92b17;}
.refund>.box>p{text-align: left;line-height: .36rem;margin:.05rem 0 0 .2rem;float: left;width: 5rem;}
.refund>.box>.goods-det{width: 5.1rem; height: 1.8rem; padding-left: 2rem;background:url(../img/u292.png) no-repeat left center;background-size: 1.8rem ;}

